{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<h1>TRABAJA CON NOSOTROS</h1>
{% endblock %}

{% block contenido %}
<p style="font-size: 40%;">Si estás interesado en trabajar con nosotros, déjanos tus datos y te contactaremos para nuestras vacantes!</p>
<br>
<form style="margin:auto; width: 300px;" action="{% url 'interesado' %}" method="POST">{% csrf_token %}
    <center><table style="font-size: 30%;">
        {{interesadoFormulario.as_table}}
    </table></center>
    <input style="margin:auto; width: 220px;font-size: 30%; background-color: pink;" type="submit" value="Enviar">
    </form>
{% endblock %}
