{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<p>LiderApp</p>
{% endblock %}

{% block contenido %}
<h1 style="font-size: 110%; background-color: palevioletred; width: 100%; padding: 0.3%;">Explora todo lo que LiderApp tiene para ofrecerte:</h1>
<br>

<table>
<tr>
    <td style="width:45%; padding-left: 3%">
    <p><img style="width: 100%" src="{% static 'ContactApp\images\Servicios\Newsletter.jpg' %}"> </p>
    </td>

<td style="text-align:left; padding: 3%; ">
    <a style="font-size: 150%; "><strong>NEWSLETTER</strong></a><br>
    <p style="width: 100%;text-align: right; text-align:justify;">Queremos que seas parte de una comunidad donde encontrarás herramientas para liderarte a ti mismo y a tus equipos. En LiderApp encontrarás personas que al igual que tu, quieren su mejor verisón y ayudar a otros a serlo!
    <br>
    <a href="{% url 'newsletter_form' %}" style="color:darkblue">Suscribete a nuestro Newsletter aquí</a></p>
</td>
</tr>
</table>

<div style="text-align:left ;">
    <a style="font-size: 150%; ">CURSOS</a>
    <p style=" text-align: justify; padding: 1% ;">Encuentra sesiones virtuales y presenciales, donde mediante técnicas de innovación aprenderás el liderazgo de una manera clara y útil. Adicioalmente, en LiderApp hemos creado un espacio donde encontrarás material que según tu gusto te ayudarán en tu proceso de innovar y liderar.</p>
</div>
<br>
<table>
    <tr>
        <td>
            <p><img style="width: 75%" src="{% static 'ContactApp\images\Servicios\Curso_001.jpg' %}"> </p>
        </td>
        <td>
            <p><img style="width: 53%" src="{% static 'ContactApp\images\Servicios\Curso_002.jpg' %}"> </p>
        </td>
    </tr>

    <tr>
        <td>
            <a href="{% url 'cursos_form' %}" style="font-size: 100%; color: firebrick; "><strong>INTELIGENCIA EMOCIONAL Y LIDERAZGO</strong></a>
        </td>
        <td>
            <a href="{% url 'cursos_form' %}" style="font-size: 100%; color: firebrick;"><strong>INNOVACION Y CREATIVIDAD EMPRESARIAL</strong></a>
        </td>
    </tr>

    <tr>
        <td>
            <p>Como parte primordial de las iniciativas de liderazgo, se encuentra el reconocimiento de las emociones y su gestión para fortalecer las habilidades del desarollo personal y grupal.</p>
        </td>
        <td>
            <br>
            <p style="width: 100%; text-align:center; padding-left: 5%">En una época tan cambiante, es importante que cada actvidad y proyecto desarrollado en el ámbito empresarial sea encaminado a la continua innovación que nace de cultivar la curiosidad, la creatividad y el libre desarrollo de actividades interdisciplianrias.</p>
        </td>
    </tr>
</table>
{% endblock %}