{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<p>LiderApp</p>
{% endblock %}

{% block contenido %}
<h1 style="font-size: 110%; background-color: palevioletred; width: 100%; padding: 0.3%;">Explora todo lo que LiderApp tiene para ofrecerte:</h1>
<br>

<table>
<tr>
    <td style="width:45%; padding-left: 3%">
    <p><img style="width: 100%" src="{% static 'ContactApp\images\Servicios\Newsletter.jpg' %}"> </p>
    </td>

<td style="text-align:left; padding: 3%; ">
    <a style="font-size: 150%; "><strong>NEWSLETTER</strong></a><br>
    <p style="width: 100%;text-align: right; text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate volutpat sem, ac sagittis lacus maximus ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam porttitor ultrices tellus id hendrerit. Integer condimentum, sem ut posuere viverra, nulla velit ullamcorper nunc, quis efficitur urna sem vel velit. Nulla id arcu at turpis tempus mollis. Curabitur odio mauris, rutrum vel justo vitae, aliquam tempor odio. Ut cursus volutpat nibh, vitae hendrerit velit laoreet quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean vel nisi quis lorem lobortis ullamcorper. Aliquam ullamcorper auctor libero, vel sodales nisl posuere at. 
    <a href="#" style="color:darkblue">Suscribete a nuestro Newsletter aquí</a></p>
</td>
</tr>
</table>

<div style="text-align:left ;">
    <a style="font-size: 150%; ">CURSOS</a>
    <p style=" text-align: justify; padding: 1% ;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate volutpat sem, ac sagittis lacus maximus ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam porttitor ultrices tellus id hendrerit. Integer condimentum, sem ut posuere viverra, nulla velit ullamcorper nunc, quis efficitur urna sem vel velit. Nulla id arcu at turpis tempus mollis. Curabitur odio mauris, rutrum vel justo vitae, aliquam tempor odio. Ut cursus volutpat nibh, vitae hendrerit velit laoreet quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean vel nisi quis lorem lobortis ullamcorper. Aliquam ullamcorper auctor libero, vel sodales nisl posuere at. </p>
</div>
<br>
<table>
    <tr>
        <td>
            <p><img style="width: 70%" src="{% static 'ContactApp\images\Servicios\Curso_001.jpg' %}"> </p>
        </td>
        <td>
            <p><img style="width: 70%" src="{% static 'ContactApp\images\Servicios\Curso_002.jpg' %}"> </p>
        </td>
    </tr>

    <tr>
        <td>
            <a style="font-size: 100%; color: firebrick; "><strong>INTELIGENCIA EMOCIONAL Y LIDERAZGO</strong></a>
        </td>
        <td>
            <a style="font-size: 100%; color: firebrick;"><strong>INNOVACION Y CREATIVIDAD EMPRESARIAL</strong></a>
        </td>
    </tr>

    <tr>
        <td>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis maximus commodo. Suspendisse dapibus nibh nec odio volutpat, in condimentum.</p>
        </td>
        <td>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis maximus commodo. Suspendisse dapibus nibh nec odio volutpat, in condimentum.</p>
        </td>
    </tr>
</table>
{% endblock %}