{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<p style="font-size: 70%" ;">Ingreso al Sistema</p>
{% endblock %}

{% block contenido %}
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div style="font-size: small;"class="card">
                <div style="color: black; background-color: orange;" class="card-body">
                    <h2 style="font-size:200%">Ingresa tus credenciales</h2>
                    {% if mensaje %}
                    <h2 style="font-size: 150%; color: black">{{mensaje}}</h2>
                    {% endif %} 
                    <hr>
                    <form action="" method="POST"> {% csrf_token %}
                        {{form.as_p}}
                        <hr>
                        <a href="{% url 'register_request' %}" style="float:left">Registarse</a>
                        <input type="submit" value="Ingresar" class="btn btn-success" style="float:right; font-size:100%">
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>





{% endblock %}