{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<p>Blog LiderApp</p>
{% endblock %}

{% block contenido %}
<h1 style="font-size: 110%; background-color: palevioletred; width: 100%; padding: 0.3%;">Explora las últimas publicaciones de tendencias a nivel mundial:</h1>
<br>

{% for publicacion in publicaciones %}
<a href="{% url 'blog' %}">
<td style="text-align:left; padding: 3%; ">
   <a style="font-size: 150%; "><strong>{{publicacion.titulo}}</strong></a>
    <br>
    <br>
    <span>{{publicacion.contenido}}</span>

<div style="text-align:left;"></div>
        Autor: {{publicacion.autor}}
        <br>
        Fecha: {{publicacion.creado}}
        <br>
        Categoría: {{publicacion.categorias}}
</a>
{% endfor %}
{% endblock %}