{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<p>LiderApp</p>
{% endblock %}

{% block contenido %}
<h1 style="font-size: 110%; background-color: palevioletred; width: 100%; padding: 0.3%;">Explora las nuevas entradas:</h1>
<br>

<div style="text-align:left ;">
    <a style="font-size: 150%; ">LOS ENEATIPOS</a>
    <p style=" text-align: justify; padding: 1% ;">Encuentra sesiones virtuales y presenciales, donde mediante técnicas de innovación aprenderás el liderazgo de una manera clara y útil. Adicioalmente, en LiderApp hemos creado un espacio donde encontrarás material que según tu gusto te ayudarán en tu proceso de innovar y liderar.</p>
</div>
<br>
<table>
    <tr>
        <td>
            <p><img style="width: 70%" src="{% static 'ContactApp\images\Blog\eneagrama.jpg' %}"> </p>
        </td>
    </tr>

    <tr>
        <td>
            <a style="font-size: 100%; color: firebrick; "><strong>INTELIGENCIA EMOCIONAL Y LIDERAZGO</strong></a>
        </td>
    </tr>

    <tr>
        <td>
            <p>Como parte primordial de las iniciativas de liderazgo, se encuentra el reconocimiento de las emociones y su gestión para fortalecer las habilidades del desarollo personal y grupal.</p>
        </td>
    </tr>
</table>
{% endblock %}