{% extends "Base/padre.html" %}
{% load static %}

{% block titulo %}
<p>Blog LiderApp</p>
{% endblock %}

{% block contenido %}
<h1 style="font-size: 110%; background-color: palevioletred; width: 100%; padding: 0.3%;">Explora las últimas publicaciones de tendencias a nivel mundial:</h1>
<br>
<a href="{% url 'crearBlog' %}" style="font-size: 100%; color: wheat ">Agrega una nueva entrada</a> &nbsp;&nbsp;|
<a href="{% url 'mostrar_entradas' %}" style="font-size: 100%; color: wheat; ">Editar una entrada</a> &nbsp;&nbsp;
<br>
{% if mensaje %}
    <h2>{{mensaje}} </h2>
{% endif %}
<br>
<form action = "{% url 'BuscarBlog' %}" method="GET">
    <input type="string" name="contenido" id="contenido">
    <input type="submit" value="Buscar">
</form>
<br>
<br>
<br>

<div style="text-align:left;"><a style="font-size: 150%; "><strong><i>{{publicacion.titulo}}</i></strong></a></div>  
<br>

<table>
    <tr>
        <td style="width:40%; padding-left: 3%">
            {% if publicacion.image %}
            <p><img style="width: 70%; image-orientation:left;" src={{publicacion.image.url}}></p>
            {% endif %}
        </td>

        <td>
            <div style="text-align:justify; width: 100%"><a style="font-size: 120%; "><a style="font-family: Segoe UI; "></a>{{publicacion.contenido}}</a></div>
        </td>
    </tr>
</table>
<br>
<div style="text-align:right;"><a style="font-size: 80%;">
    Autor: {{publicacion.autor}}
    <br>
    Fecha: {{publicacion.creado}}
    <br>
    {% for categoria in publicacion.categorias.all %}
    Categoría: {{categoria.titulo}}
    {% endfor %}
</div>
</a>
<hr>


{% endblock %}