{% extends "Base/padre.html" %}
{% load static %}

{% block contenido %}
<div><h1>CONOCE A LOS CRADORES DE LIDERAPP</h1></div>
<br>
<p style="font-size: 35%"><i>LiderApp nace como un espacio que brinde herramientas, experiencias y oportunidades para fortalecer las cualidades que todos los seres humanos tenemos para liderar tanto nuestra vida como proyectos definidos. Aquí encontrarás la unión de la innovación y el liderazgo, para potencializarte y ayudar a otros a hacerlo.</p></i>

<div>
    <table>
    <tr>
        <td>
            <p style="font-size: 30%;  width:100%">Nuestro grupo está conformado por Camila Reyes y David Zamora,  dos ingenieros de petróleos, en búsqueda de nuevos conocimientos y nuevos retos. Como equipo luego de analizar nuestro entorno y las necesidades que en el veíamos, decidimos implementar nuestro aprendizaje para crear un espacio que nos permitiera llevar a más personas herramientas para liderar con sentido, propósito y de manera innovadora.</p>
        </td>
    </tr>
</table>
</div>
{% endblock %}