{% extends "Base/padre.html" %}
{% load static %}

{% block contenido %}
<div><h1>CONOCE A LOS CRADORES DE LIDERAPP</h1></div>
<br>
<div>
    <p style="font-size: 30%;  width: 40%; margin-left: 30%;"><h1><i>LiderApp nace como un espacio que brinde herramientas, experiencias y oportunidades para fortalecer las cualidades que todos los seres humanos tenemos para liderar tanto nuestra vida como proyectos definidos. Aquí encontrarás la unión de la innovación y el liderazgo, para potencializarte y ayudar a otros a hacerlo.</p></i></h1>
    <br>
    <p style="font-size: 30%;  width: 40%; margin-left: 30%;">Nuestro grupo está conformado por</p>
</div>
{% endblock %}